.features {
  background-color: var(--light-text-color);
  padding: 2rem;

  .features__content {
    text-align: center;
    margin-bottom: 3rem;

    .features__title {
      color: var(--dark-text-color);
      font-size: 3rem;
      line-height: 3.4rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      padding: 0.65rem;
    }

    .features__description {
      color: var(--dark-text-color);
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 400;
      padding: 0.65rem;
    }
  }

  .features__items {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .features__items-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;

      .features__items-image {
        display: block;
      }

      .features__items-caption {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}

.features__video-wrapper {
  max-width: 100%;
  margin: 3rem auto;

  .features__video-iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

@media (min-width: 48rem) {
  .features {
    .features__items {
      flex-direction: row;
      justify-content: center;
    }
  }

  .features__video-wrapper {
    max-width: 48rem;
    margin: 5rem auto;
  }
}
