.footer {
  background-color: var(--dark-bg-color);
  padding-bottom: 3rem;

  .footer__content {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--light-text-color);
    gap: 1.5rem;
    justify-items: center;

    .footer__menu-title {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
      text-align: center;
    }

    .footer__nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .footer__autors-nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }

    .footer__info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 3rem;
      align-items: center;
      padding-left: 1rem;

      .footer__contacts {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }

      .footer__contact {
        display: flex;
        gap: 0.75rem;
      }

      .footer__socials {
        display: flex;
        gap: 1rem;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 48rem) {
  .footer {
    .footer__content {
      grid-template-columns: repeat(4, 1fr);
    }

    .footer__info {
      align-items: flex-start;
      text-align: left;
    }

    .footer__contacts {
      align-items: flex-start;
    }

    .footer__socials {
      justify-content: flex-start;
    }
  }
}
