@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-text-color: #252b42;
  --light-text-color: #ffffff;
  --font-main: "Montserrat", sans-serif;
  --button-bg-color: #24A0ED;

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
}

.container {
  max-width: 20rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 70rem;
  }
}
