.header {
  background-image: url("../img/back-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 1rem;

    .header__menu {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .header__menu-link {
      display: inline-block;
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      letter-spacing: 0.2px;
      line-height: 1rem;

      &:hover {
        background-color: var(--light-text-color);
        color: var(--dark-text-color);
      }
    }

    .header__center {
      display: flex;
      justify-content: center;
    }

    .header__socials {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .header__socials-link {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem;
    }
  }

  .header__hero {
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 40px;

    .header__hero-text {
      padding: 20px;
      gap: 10px;

      .hero-title {
        padding: 10px;
        gap: 10px;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.2px;
        text-align: center;
      }
      .hero-subtitle {
        padding: 10px;
        gap: 10px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 48rem) {
  .header {
    .header__nav {
      padding-block: 2rem;

      .header__menu {
        flex-direction: row;
        gap: 0.5rem;
      }

      .header__menu-link {
        font-size: 1.5rem;
      }

      .header__socials {
        flex-direction: row;
        gap: 0.5rem;
      }
    }
  }
}
