.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/back-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 1rem;

    .header__menu {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .header__menu-link {
      display: inline-block;
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      line-height: 1rem;

      &:hover {
        background-color: var(--light-text-color);
        color: var(--dark-text-color);
      }
    }

    .header__center {
      display: flex;
      justify-content: center;
    }

    .header__socials {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .header__socials-link {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem;
    }
  }

  .header__hero {
    padding-block: 5rem;
    gap: 2.5rem;

    .header__hero-text {
      padding: 1.25rem;
      gap: 0.65rem;
      color: var(--light-text-color);

      .hero-title {
        padding: 0.65rem;
        gap: 0.65rem;
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: 0.2px;
        text-align: center;
        font-weight: 400;
      }

      .hero-subtitle {
        padding: 0.65rem;
        gap: 10.65rem;
        font-size: 1.75rem;
        line-height: 2.5rem;
        text-align: center;
        font-weight: 300;
      }
    }
  }

  .header__actions {
    display: flex;
    justify-content: center;
    padding-bottom: 3.2rem;
  }

  .header__button {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background-color: var(--button-bg-color);
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: 600;
    font-family: var(--font-main);
    transition: background-color 0.25s ease, color 0.25s ease;
  }

  .header__button:hover {
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
  }
}

@media (min-width: 48rem) {
  .header {
    .header__nav {
      padding-block: 2rem;

      .header__menu {
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 1.5rem;
      }

      .header__menu-link {
        font-size: 1.5rem;
      }

      .header__socials {
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 1rem;
      }
    }
    .header__hero {
      .header__hero-text {
        .hero-title {
          font-size: 4.6rem;
          line-height: 5.3rem;
          font-weight: 700;
        }
        .hero-subtitle {
          font-size: 1.9rem;
          line-height: 3.13rem;
          font-weight: 400;
        }
      }
    }
  }
}
