.header {
  background-image: url("../img/back-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__menu {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .header__menu-link {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      letter-spacing: 0.2px;
      line-height: 1.75rem;

      &:hover {
        background-color: var(--light-text-color);
        color: var(--dark-text-color);
      }
    }

    .header__center {
      display: flex;
      justify-content: center;
    }

    .header__socials {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .header__socials-link {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem;
    }
  }
}

@media (min-width: 48rem) {
  .header {
    .header__nav {
      .header__menu {
        flex-direction: row;
        gap: 1.25rem;
      }

      .header__socials {
        flex-direction: row;
        gap: 1.25rem;
      }
    }
  }
}
