@import "global.css";
@import "header.partial.css";
@import "features.partial.css";
@import "organize.partial.css";
@import "partners.partial.css";
@import "pricing.partial.css";
@import "footer.partial.css";
