.organize {
  background-color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .organize__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: Left;

    .features__title {
      color: var(--dark-text-color);
      font-size: 3rem;
      line-height: 3.4rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      padding: 0.65rem;
    }

    .features__description {
      color: var(--dark-text-color);
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 400;
      padding: 0.65rem;
    }
  }

  .organize__right {
    .organize__image {
      display: block;
      max-width: 60%;
      height: auto;
    }
  }
}
