.organize {
  background-color: var(--light-text-color);
  padding-top: 1rem;

  .organize__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

    .organize__text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      .organize__title {
        color: var(--dark-text-color);
        font-size: 2rem;
        font-weight: 400;
      }

      .organize__description {
        color: var(--dark-text-color);
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 400;
      }
    }

    .organize__media {
      width: 100%;

      .organize__image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.fingertips {
  background-color: var(--light-text-color);
  padding-top: 5rem;

  .fingertips__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;

    .fingertips__media {
      width: 100%;

      .fingertips__image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    .fingertips__text {
      display: flex;
      flex-direction: column;
      gap: 0;
      text-align: center;
      margin-top: 5rem;

      .fingertips__title {
        color: var(--dark-text-color);
        font-size: 1rem;
        font-weight: 800;
      }

      .fingertips__subtitle {
        color: var(--dark-text-color);
        font-size: 2.5rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .fingertips__description {
        color: var(--dark-text-color);
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
      }

      .subscribe {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-top: 2rem;
      }

      .subscribe__field {
        flex: 1;
      }

      .subscribe__input {
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        height: 2.5rem;
        border: 1px solid var(--dark-text-color);
        outline: none;
        background-color: var(--plaseholder-color);
      }

      .subscribe__input::placeholder {
        color: var(--dark-text-color);
        text-align: center;  
      }
    }
  }
}

@media (min-width: 48rem) {
  .organize {
    padding-top: 3rem;
    .organize__content {
      flex-direction: row;
      align-items: stretch;
      gap: 4rem;

      .organize__text {
        flex: 1;
        text-align: left;
        padding-bottom: 2rem;

        .actions {
          justify-content: flex-start;
          padding-bottom: 0;
        }
      }

      .organize__media {
        flex: 1;
        text-align: left;
        display: flex;

        .organize__image {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .fingertips {
    .fingertips__content {
      flex-direction: row;
      align-items: stretch;
      gap: 4rem;

      .fingertips__media {
        flex: 0 1 65%;
        display: flex;
        align-items: center;

        .fingertips__image {
          height: 100%;
          object-fit: cover;
        }
      }

      .fingertips__text {
        flex: 0 1 35%;
        text-align: left;

        .fingertips__subtitle {
          font-size: 3rem;
          line-height: 3.5rem;
        }

        .subscribe {
          flex-direction: row;
        }
      } 
    }
  }
}

