.partners {
  align-items: center;
  margin-top: 2rem;

  .partners__text {
    text-align: center;

    .partners__title {
      font-size: 3rem;
      line-height: 3.2;
    }

    .partners__description {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }

  .partners__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
    .partners__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 16rem;
      width: 100%;
      margin: 0 auto;
      padding: 0.5rem;
      text-align: center;
      border: 1px solid var(--dark-text-color);
      box-sizing: border-box;

      .partners__name {
        margin: 0 0 0.5rem;
        font-size: 0.875rem;
        color: var(--dark-text-color);
      }

      .partners__logo {
        max-width: 5rem;
        width: 100%;
        height: auto;
      }
    }
  }
}

.testimonials {
  padding: 3rem 0;
    
  .testimonials__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;

    .testimonials__title {
     font-size: 2.5rem;
     font-weight: 400;
     text-align: center;
    }

    .testimonials__logo {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .testimonials__description {
      max-width: 15rem;
      font-size: 0.8rem;
      line-height: 1.5rem;
      text-align: center;
    }

    .testimonials__item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    .actions {
      margin-top: 2rem;
    }
  }
}

@media (min-width: 48rem) {
  .partners {
    margin-top: 4rem;
    .partners__items {
      grid-template-columns: repeat(4, 1fr);
      gap: 0;

      .partners__card {
        max-width: none;
        margin: 0;
        border: 1px solid var(--dark-text-color);
        padding: 1.5rem 1rem;

        .partners__logo {
          max-width: 8rem;
        }
      }
    }
  }

  .testimonials {
    padding: 5rem 0;

    .testimonials__content {
      .testimonials__description {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 40rem;
      }

      .testimonials__actions {
        margin-top: 4rem;
      }
    }
  }
}
