<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="header.partial.html"
    ></header>
    <main class="main">
      <section
        class="features"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="features.partial.html"
      ></section>
      <section
        class="organize"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="organize.partial.html"
      ></section>
      <section
        class="partners"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partners.partial.html"
      ></section>
      <section
        class="pricing"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="pricing.partial.html"
      ></section>
      <section
        class="contact"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="contact.partial.html"
      ></section>
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="footer.partial.html"
    ></footer>
    <script src="js/index.js"></script>
  </body>
</html>
